.userpage_container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.721);
  width: 100%;
}

.side_nav_container {
  background-color: rgb(14, 14, 52);
  width: 250px;
  height: 100vh;
  position: relative;
  color: #efefef;
  transition: 0.4s;
}

.side_nav_container_NX {
  width: 85px;
}

.side_nav_container_NX h2 {
  display: none;
}

.nav_upper,
.nav_heading,
.nav_menu,
.menu_item,
.nav_footer {
  display: grid;
}
.nav_heading {
  grid-template-columns: 2fr, 1fr;
  grid-template-rows: 1fr;
  height: 75px;
}

.nav_brand {
  display: flex;
  align-items: center;
  margin-left: -17px;
}

.nav_brand img {
  width: 60px;
  padding: 0 9px;
  margin-left: 10px;
}

.hamburger {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  margin: auto -35px;
  background-color: rgb(33, 33, 123);
  border: 2px solid white;
  padding: 20px;
  border-radius: 90px;
  height: 71px;
  width: 74px;
}

.hamburger span {
  display: block;
  margin-top: 5px;
  background-color: white;
  border-radius: 15px;
  height: 4px;
  width: 30px;
  transition: 0.4s;
}

.hamburger_in:hover span:nth-child(1) {
  width: 25px;
  transform: translate(-3px, 8px) rotate(30deg);
}

.hamburger_in:hover span:nth-child(2) {
  display: none;
}

.hamburger_in:hover span:nth-child(3) {
  width: 25px;
  transform: translate(-3px, -8px) rotate(-30deg);
}

.hamburger_out:hover span:nth-child(1) {
  width: 25px;
  transform: translate(0px, 8px) rotate(-30deg);
}

.hamburger_out:hover span:nth-child(2) {
  display: none;
}

.hamburger_out:hover span:nth-child(3) {
  width: 25px;
  transform: translate(0px, -8px) rotate(30deg);
}

.nav_menu {
  grid-template-rows: repeat(7, 1fr);
  margin-top: 50px;
}

.menu_item {
  height: 57px;
  width: 14em;
  display: flex;
  color: #efefef;
  text-decoration: none;
  text-transform: uppercase;
  margin: auto 20px;
  border-radius: 10px;
  position: relative;
}

.menu_item:hover {
  background-color: rgb(34, 34, 123);
}

.menu_item_NX {
  display: flex;
  margin: auto 12px;
  width: 30%;
  justify-content: center;
  
}

.menu_item p {
  margin-top: 19px;
}
.menu_item img {
  width: 30px;
  padding: 0 3px;
}

.nav_footer {
  width: 100%;
  position: absolute;
  grid-template-columns: 2fr 1fr;
  background-color: rgb(14, 14, 52);
  bottom: 0;
  padding: 0 20px;
  margin-bottom: 10px;
}

.nav_details {
  display: flex;
}

.nava_details img {
  width: 50px;
  padding: 0 20px;
}

.nav_footer_user_name {
  font-size: 18px;
  font-weight: 900;
}

.nav_footer_user_position {
  margin-top: -1px;
  color: gray;
}

.logout_icon {
  margin: auto;
  border-radius: 90px;
  padding: 20px;
  margin-left: 1px;
}

.logout_icon:hover {
  background-color: rgb(34, 34, 123);
  cursor: pointer;
}

.nav_footer_info {
  margin-left: 10px;
  margin-top: 15px;
}

.userbody {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.691);
  height: 44.31vw;
}

.usernav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.title {
  display: flex;
  justify-content: left;
  height: 10%;
  color: white;
  margin-left: 45px;
}


.search {
  display: flex;
  width: 40%;
  height: 35px;
  justify-content: space-around;
  margin-top: 10px;
}

.search_bar {
  width: 90%;
  height: 100%;
  border-radius: 15px;
  border-width: 1px;
  border-color: #efefef53;
  background-color: rgba(128, 128, 128, 0.186);
  color: white;
  padding-left: 20px;
  margin-right: 5px;
}

.search_button {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border-width: 1px;
  border-color: #efefef53;
  background-color: rgba(128, 128, 128, 0.186);
  color: #efefef;
}

.play_list {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px;
  overflow-y: auto;
  width: 100%;
  transition: 0.4s;
}

.play_list_NX {
    grid-template-columns: repeat(3, 1fr); 
    transition: 0.4s;
}
